@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}


html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-white;
  @apply text-slate-500;
}

body {
  color: var(--foreground);
  background: var(--background);
}
