@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-slate-50;
  @apply text-slate-500;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-inter);
}

.alt-font {
  font-family: var(--font-albert-sans);
}

@media (min-width: 768px) {
   .md\:hover\:h-98:hover {
      height: 25rem;
   }
}

@media (min-width: 768px) {
   .md\:hover\:h-99:hover {
      height: 26rem;
   }
}

@media (min-width: 768px) {
   .md\:hover\:h-100:hover {
      height: 29rem;
   }
}